[Unit]
Description=todolist
After=syslog.target

[Service]
User=vagrant
EnvironmentFile=/home/vagrant/todolist/overrides.properties
#Environment=PATH=/home/vagrant/.sdkman/candidates/java/current/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
#ExecStart=/home/vagrant/todolist/spring-boot-todolist-0.0.1-SNAPSHOT.jar
ExecStart=/bin/bash -c "PATH=/home/vagrant/.sdkman/candidates/java/current/bin:$PATH exec /home/vagrant/todolist/spring-boot-todolist-0.0.1-SNAPSHOT.jar"
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
